<!DOCTYPE html>

<html>
<head>
    <title>Clasificador de Imágenes Médicas</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
</head>
<body>
    <h1>INGRESE SU IMAGEN</h1>
    <form action="/" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" accept=".jpg, .jpeg, .png">
        <button type="submit">Predecir</button>
    </form>

    {% if result %}
        <h2>Resultado de la predicción:</h2>
        <p>{{ result }}</p>
        <img src="{{ url_for('static', filename=image_path) }}" alt="Imagen subida">
    {% endif %}
</body>
</html>
